<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
</head>
<body>
    <h1>Password reset</h1>
    <p th:text="'Hi ' + ${user.name} + ','">Hi User,</p>
    <p>
        To reset your password click the link below:
    </p>
    <p>
        <a th:href="@{${resetUrl}}" th:text="${resetUrl}">Reset password link</a>
    </p>
    <p>
        This link will expire in two hours.
    </p>
    <p>
        If you did not request your password to be reset, please ignore this email and
        your password will stay as it is.
    </p>
</body>
</html>
